<!DOCTYPE html>
<html lang="en">

<head>
    <title>BurgerHeaven</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script type="text/javascript" src="js/menu.js"></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="https://vuejs.org/js/vue.js"></script>
    <script src="js/js_script.js" defer></script>
    <script src="js/vue_script.js" defer></script>
    <link rel="stylesheet" href="css/deli-very.css">
</head>

<body>
    <main>
        <div id="rubrik1">
            <h1>Welcome to Kingenskung Burger</h1>
        </div>
        <section id="burger">
            <subsection id="rubrik2">
                <h3>Select burger</h3>
                <p>This is where you execute burger selection</p>
            </subsection>
            <div id=burgertype>
                <div v-for="burger in burgers" class=box>
                    <h4>{{ burger.name}}<h4>
                            <img v-bind:src="burger.picture">
                            <ul>
                                <li>This is the worlds {{burger.tradeMark}} burger ever made</li>
                                <li>Contains {{burger.calories}} kcal</li>
                                <li>May contain trace of <span class="improtantInfo" v-if="burger.gluten">gluten</span>
                                    <span class="improtantInfo" v-else-if="burger.lactose">lactose</span>
                                    <span class="improtantInfo" v-else="fasle">nothing</span></li>
                            </ul>
                            <input v-bind:id="burger.name" type="checkbox" name="labelBurger">
                            <label for="labelBurger"> I want this</label>
                </div>
            </div>
            <!--<div id = "burgerType">

            </div>-->

            <!--<div class="burgerType">
                <div class="box a">
                    <h4>The Fire Burger</h4>
                    <img src="img/burning_burger.png" alt="Span" title="Burger 1" width="300">
                    <ul>
                        <li>It's the hottest burger ever made</li>
                        <li>Contains <span class="improtantInfo">gluten</span></li>
                        <li>Dosen't taste that grate</li>
                    </ul>
                </div>
                <div class="box b">
                    <h4>Fried Turky burger</h4>
                    <img src="img/cool_burger.png" alt="Span" title="Burger 2" width="300">
                    <ul>
                        <li>It's the moste fried burger ever made</li>
                        <li>Contains <span class="improtantInfo">lactose</span></li>
                        <li>Taste like nothing</li>
                    </ul>
                </div>
                <div class="box c">
                    <h4>A Double w/ Cheese</h4>
                    <img src="img/cheese_burger.png" alt="Span" title="Burger 3" width="300">
                    <ul>
                        <li>It's the most cheesy burger ever made</li>
                        <li>Contains <span class="improtantInfo">cheese</span></li>
                        <li>Taste like cheese with cheese</li>
                    </ul>
                </div>
            </div>-->
        </section>
        <section id="contact">
            <h3>Customer information</h3>
            <p>This is where you provide necessary information</p>
            <h5>Dilivery information:</h5>
            <form id="orderinfo">
                <p>
                    <label for="fullname">Full name</label><br>
                    <input type="text" id="fullname" name="fn" required="required" placeholder="First- and Last name">
                </p>
                <p>
                    <label for="email">E-mail</label><br>
                    <input type="email" id="email" name="em" required="required" placeholder="E-mail address">
                </p>
                <p>
                    <label for="payment">Payment</label><br>
                    <select id="payment" name="pay">
                        <option>Swish</option>
                        <option>Klarna</option>
                        <option>Credit Card</option>
                        <option>Paypal</option>
                        <option>Direct Bank</option>
                    </select>
                </p>
                <p>
                    Gender<br>
                    <input type="radio" id="male" name="gender" value="male">
                    <label for="male">Male</label><br>
                    <input type="radio" id="female" name="gender" value="female">
                    <label for="female">Female</label><br>
                    <input type="radio" id="binary" name="gender" value="binary">
                    <label for="binary">Non-binary</label><br>
                    <input type="radio" id="undisclosed" name="gender" value="undisclosed">
                    <label for="undisclosed">Undisclosed</label>
                </p>
            </form>
            <h5>Where do you want the order:</h5>
            <div class="view-box">
                <div id="dots" v-on:click="displayOrder">
                    <div v-bind:style="{ left: tempTarget.details.x + 'px', top: tempTarget.details.y + 'px'}">
                        {{tempTarget.key}}
                    </div>
                </div>
            </div>
            <p>
                <input id=buttonSend type="button" value="Send Biker" v-on:click="addOrder()">
            </p>
            <div id="order">

            </div>
        </section>
    </main>
    <footer>
        <p>&#169; 2020 Hugo Sjönneby inc. </p>
    </footer>
</body>

</html>